.h-sort {
    width: fit-content;
    height: 100%;
    position: relative;
}

.h-sort__btn {
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    gap: 3px;
    flex-direction: column;
    z-index: 2;
    width: 40px;
    align-items: center;
    height: 40px;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}

.h-sort__btn--show {
    opacity: 1;
}
