.el-input__wrapper {
    box-shadow: unset !important;
    border: 1px solid var(--color-grey-3);
    outline: none;
    padding: 1px 12px;
}

.el-input__wrapper:hover {
    box-shadow: unset;
    border-color: var(--color-blue-2);
}

.el-input {
    --el-date-editor-width: 100%;
    --el-input-height: 36px;
}

.el-input__inner {
    --el-input-inner-height: 15px;
    --el-input-text-color: black;
}

.el-input__prefix {
    display: none;
}

.is-focus {
    box-shadow: unset;
    border-color: var(--color-blue-2);
}

.h-datepicker--error .el-input__wrapper {
    border-color: red;
}
